In [72]:
import pandas as pd
import numpy as np

In [73]:
data = pd.read_csv('Train.csv',sep=',')

In [74]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [75]:
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [76]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [77]:
data.describe(include='all')

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
count,8523,7060.000000,8523,8523.000000,8523,8523.000000,8523,8523.000000,6113,8523,8523,8523.000000
unique,1559,NaN,5,NaN,16,NaN,10,NaN,3,3,4,NaN
top,FDW13,NaN,Low Fat,NaN,Fruits and Vegetables,NaN,OUT027,NaN,Medium,Tier 3,Supermarket Type1,NaN
freq,10,NaN,5089,NaN,1232,NaN,935,NaN,2793,3350,5577,NaN
mean,NaN,12.857645,NaN,0.066132,NaN,140.992782,NaN,1997.831867,NaN,NaN,NaN,2181.288914
std,NaN,4.643456,NaN,0.051598,NaN,62.275067,NaN,8.371760,NaN,NaN,NaN,1706.499616
min,NaN,4.555000,NaN,0.000000,NaN,31.290000,NaN,1985.000000,NaN,NaN,NaN,33.290000
25%,NaN,8.773750,NaN,0.026989,NaN,93.826500,NaN,1987.000000,NaN,NaN,NaN,834.247400
50%,NaN,12.600000,NaN,0.053931,NaN,143.012800,NaN,1999.000000,NaN,NaN,NaN,1794.331000
75%,NaN,16.850000,NaN,0.094585,NaN,185.643700,NaN,2004.000000,NaN,NaN,NaN,3101.296400
max,NaN,21.350000,NaN,0.328391,NaN,266.888400,NaN,2009.000000,NaN,NaN,NaN,13086.964800

In [78]:
data.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Item_Identifier,8523,1559,FDW13,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Item_Weight,7060,NaN,NaN,NaN,12.8576,4.64346,4.555,8.77375,12.6,16.85,21.35
Item_Fat_Content,8523,5,Low Fat,5089,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Item_Visibility,8523,NaN,NaN,NaN,0.066132,0.0515978,0,0.0269895,0.0539309,0.0945853,0.328391
Item_Type,8523,16,Fruits and Vegetables,1232,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Item_MRP,8523,NaN,NaN,NaN,140.993,62.2751,31.29,93.8265,143.013,185.644,266.888
Outlet_Identifier,8523,10,OUT027,935,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Outlet_Establishment_Year,8523,NaN,NaN,NaN,1997.83,8.37176,1985,1987,1999,2004,2009
Outlet_Size,6113,3,Medium,2793,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Outlet_Location_Type,8523,3,Tier 3,3350,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Outlet_Type,8523,4,Supermarket Type1,5577,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Item_Outlet_Sales,8523,NaN,NaN,NaN,2181.29,1706.5,33.29,834.247,1794.33,3101.3,13087

In [79]:
# check for null values in data
data.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [80]:
# To find outliers in data using Interquantile range
for col_name in data.select_dtypes(include=np.number).columns[:-1]:
    print(col_name)
    q1 = data[col_name].quantile(0.25)
    q3 = data[col_name].quantile(0.75)
    iqr = q3 - q1
    
    low = q1-1.5*iqr
    high = q3+1.5*iqr
    print("Outliers = ",data.loc[(data[col_name] < low) | (data[col_name] > high), col_name])

Item_Weight
Outliers =  Series([], Name: Item_Weight, dtype: float64)
Item_Visibility
Outliers =  49      0.255395
83      0.293418
108     0.278974
174     0.291865
334     0.204700
          ...
8292    0.209163
8345    0.266397
8371    0.214125
8432    0.227261
8509    0.214306
Name: Item_Visibility, Length: 144, dtype: float64
Item_MRP
Outliers =  Series([], Name: Item_MRP, dtype: float64)
Outlet_Establishment_Year
Outliers =  Series([], Name: Outlet_Establishment_Year, dtype: int64)

In [81]:
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [82]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [83]:
data.Item_Identifier.value_counts()

FDW13    10
FDG33    10
DRE49     9
FDU12     9
NCB18     9
         ..
FDN52     1
FDQ60     1
DRF48     1
FDK57     1
FDT35     1
Name: Item_Identifier, Length: 1559, dtype: int64

In [84]:
data.Item_Weight.value_counts()

12.150    86
17.600    82
13.650    77
11.800    76
15.100    68
          ..
7.560      2
9.420      1
5.400      1
6.520      1
7.685      1
Name: Item_Weight, Length: 415, dtype: int64

In [85]:
data.Item_Weight.isna().sum()

1463

In [86]:
data['Item_Weight'].mode()

0    12.15
dtype: float64

In [87]:
data['Item_Weight'].fillna(-1, inplace = True)

In [88]:
data.Item_Weight.isna().sum()

0

In [89]:
data['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [90]:
data.Item_Fat_Content.isna().sum()

0

In [91]:
data['Item_Fat_Content'].replace({"reg":"Regular" ,"LF":"Low Fat", "low fat":"Low Fat"} ,inplace=True)

In [92]:
data['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [93]:
data['Item_Visibility'].value_counts()

0.000000    526
0.076975      3
0.041283      2
0.085622      2
0.187841      2
           ...
0.092576      1
0.067544      1
0.115168      1
0.146896      1
0.050902      1
Name: Item_Visibility, Length: 7880, dtype: int64

In [94]:
data['Item_Visibility'].isna().sum()

0

In [95]:
data['Item_Type'].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [96]:
data['Item_Type'].isna().sum()

0

In [97]:
data['Item_MRP'].value_counts()

172.0422    7
188.1872    6
170.5422    6
109.5228    6
196.5084    6
           ..
212.8218    1
190.3872    1
162.6868    1
189.1214    1
51.3008     1
Name: Item_MRP, Length: 5938, dtype: int64

In [98]:
data['Item_MRP'].isna().sum()

0

In [99]:
data['Outlet_Identifier'].value_counts()

OUT027    935
OUT013    932
OUT049    930
OUT035    930
OUT046    930
OUT045    929
OUT018    928
OUT017    926
OUT010    555
OUT019    528
Name: Outlet_Identifier, dtype: int64

In [100]:
data['Outlet_Identifier'].isna().sum()

0

In [101]:
data['Outlet_Establishment_Year'].value_counts()

1985    1463
1987     932
1999     930
1997     930
2004     930
2002     929
2009     928
2007     926
1998     555
Name: Outlet_Establishment_Year, dtype: int64

In [102]:
data['Outlet_Establishment_Year'].isna().sum()

0

In [103]:
data['Outlet_Size'].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [104]:
data['Outlet_Size'].isna().sum()

2410

In [105]:
data['Outlet_Size'].fillna(data['Outlet_Size'].mode()[0], inplace=True)

In [106]:
data['Outlet_Size'].isna().sum()

0

In [107]:
data['Outlet_Location_Type'].value_counts()

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [108]:
data['Outlet_Location_Type'].isna().sum()

0

In [112]:
data['Outlet_Type'].value_counts()

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

In [113]:
data['Outlet_Type'].isna().sum()

0

In [118]:
#segregate columns as numercial and categorical
numerical_data = data.select_dtypes(include=np.number).drop(columns=['Outlet_Establishment_Year'])
numerical_data

      Item_Weight  Item_Visibility  Item_MRP  Item_Outlet_Sales
0           9.300         0.016047  249.8092          3735.1380
1           5.920         0.019278   48.2692           443.4228
2          17.500         0.016760  141.6180          2097.2700
3          19.200         0.000000  182.0950           732.3800
4           8.930         0.000000   53.8614           994.7052
...           ...              ...       ...                ...
8518        6.865         0.056783  214.5218          2778.3834
8519        8.380         0.046982  108.1570           549.2850
8520       10.600         0.035186   85.1224          1193.1136
8521        7.210         0.145221  103.1332          1845.5976
8522       14.800         0.044878   75.4670           765.6700

[8523 rows x 4 columns]

In [119]:
categorical_data = data.select_dtypes(exclude=np.number).drop(columns ='Item_Type')
categorical_data

,Item_Identifier,Item_Fat_Content,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDA15,Low Fat,OUT049,Medium,Tier 1,Supermarket Type1
1,DRC01,Regular,OUT018,Medium,Tier 3,Supermarket Type2
2,FDN15,Low Fat,OUT049,Medium,Tier 1,Supermarket Type1
3,FDX07,Regular,OUT010,Medium,Tier 3,Grocery Store
4,NCD19,Low Fat,OUT013,High,Tier 3,Supermarket Type1
...,...,...,...,...,...,...
8518,FDF22,Low Fat,OUT013,High,Tier 3,Supermarket Type1
8519,FDS36,Regular,OUT045,Medium,Tier 2,Supermarket Type1
8520,NCJ29,Low Fat,OUT035,Small,Tier 2,Supermarket Type1
8521,FDN46,Regular,OUT018,Medium,Tier 3,Supermarket Type2
8522,DRG01,Low Fat,OUT046,Small,Tier 1,Supermarket Type1

In [121]:
#Performng standard scaling on numerical data
from sklearn.preprocessing import StandardScaler
 
std_scale = StandardScaler()
std_data = std_scale.fit_transform(numerical_data)

In [122]:
std_data

array([[-0.17542789, -0.97073217,  1.74745381,  0.910601  ],
       [-0.67837806, -0.90811123, -1.48902325, -1.01844035],
       [ 1.04474708, -0.95691733,  0.01004021, -0.04923754],
       ...,
       [ 0.01801448, -0.59978449, -0.89720755, -0.57909963],
       [-0.4864237 ,  1.53287976, -0.60797692, -0.19672492],
       [ 0.64298215, -0.41193591, -1.05226104, -0.82959407]])

In [124]:
numerical_data_preprocessed = pd.DataFrame(std_data,columns=numerical_data.columns)
numerical_data_preprocessed

      Item_Weight  Item_Visibility  Item_MRP  Item_Outlet_Sales
0       -0.175428        -0.970732  1.747454           0.910601
1       -0.678378        -0.908111 -1.489023          -1.018440
2        1.044747        -0.956917  0.010040          -0.049238
3        1.297710        -1.281758  0.660050          -0.849103
4       -0.230485        -1.281758 -1.399220          -0.695373
...           ...              ...       ...                ...
8518    -0.537760        -0.181193  1.180783           0.349915
8519    -0.312326        -0.371154 -0.527301          -0.956402
8520     0.018014        -0.599784 -0.897208          -0.579100
8521    -0.486424         1.532880 -0.607977          -0.196725
8522     0.642982        -0.411936 -1.052261          -0.829594

[8523 rows x 4 columns]

In [126]:
categorical_data_processed = pd.get_dummies(categorical_data)
categorical_data_processed

,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,Item_Identifier_DRB24,Item_Identifier_DRB25,Item_Identifier_DRB48,Item_Identifier_DRC01,Item_Identifier_DRC12,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,1,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
8519,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
8520,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0
8521,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
8522,0,0,0,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0

In [131]:
pre_processed_data = pd.concat([numerical_data_preprocessed,categorical_data_processed,data[['Item_Type','Outlet_Establishment_Year']]],axis=1)
pre_processed_data

,Item_Weight,Item_Visibility,Item_MRP,Item_Outlet_Sales,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,Item_Identifier_DRB24,...,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3,Item_Type,Outlet_Establishment_Year
0,-0.175428,-0.970732,1.747454,0.910601,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,Dairy,1999
1,-0.678378,-0.908111,-1.489023,-1.018440,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,Soft Drinks,2009
2,1.044747,-0.956917,0.010040,-0.049238,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,Meat,1999
3,1.297710,-1.281758,0.660050,-0.849103,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,Fruits and Vegetables,1998
4,-0.230485,-1.281758,-1.399220,-0.695373,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,Household,1987
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8518,-0.537760,-0.181193,1.180783,0.349915,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,Snack Foods,1987
8519,-0.312326,-0.371154,-0.527301,-0.956402,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,Baking Goods,2002
8520,0.018014,-0.599784,-0.897208,-0.579100,0,0,0,0,0,0,...,1,0,1,0,0,1,0,0,Health and Hygiene,2004
8521,-0.486424,1.532880,-0.607977,-0.196725,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,Snack Foods,2009
8522,0.642982,-0.411936,-1.052261,-0.829594,0,0,0,0,0,0,...,1,1,0,0,0,1,0,0,Soft Drinks,1997